# HP2 rules, Radio devices
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6001", ATTR{manufacturer}!="Rademacher", RUN += "/etc/udev/scripts/update_tty_zwave.sh", GROUP="dialout"
ACTION=="remove", SUBSYSTEM=="tty", RUN += "/etc/udev/scripts/update_tty_zwave.sh"

ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6001", ATTRS{manufacturer}=="Rademacher", RUN += "/etc/udev/scripts/update_tty_df.sh", GROUP="dialout"
ACTION=="remove", SUBSYSTEM=="tty", RUN += "/etc/udev/scripts/update_tty_df.sh"
