<config>
    <device>/dev/ttyUSB0</device>
    <config-dir></config-dir>                                  
    <translations-dir></translations-dir>              
    <zddx-dir></zddx-dir>      
    <port>8083</port>
    <http-root-dir>./htdocs</http-root-dir>
    <default-ui>/expert/</default-ui>
    <automation-dir>automation</automation-dir>
    <shell-script-on-save-xml>sync</shell-script-on-save-xml>                            
    <shell-script-on-save-http>sync</shell-script-on-save-http>                          
    <log-file>/dev/null</log-file>
    <log-level>0</log-level>
    <http-log-file>/dev/null</http-log-file>
    <http-log-level>4</http-log-level>
</config>
