<config>
    <device>/dev/ttyZWave</device>
    <config-dir>/home/homepilot/z-way/config</config-dir>
    <translations-dir>/opt/z-way/translations</translations-dir>
    <zddx-dir>/opt/z-way/ZDDX</zddx-dir>
    <port>8083</port>
    <http-root-dir>/opt/z-way/htdocs</http-root-dir>
    <default-ui>/expert/</default-ui>
    <automation-dir>automation</automation-dir>
    <shell-script-on-save-xml>sync</shell-script-on-save-xml>                            
    <shell-script-on-save-http>sync</shell-script-on-save-http>                          
    <log-file></log-file>
    <log-level>4</log-level>
    <http-log-file>/dev/null</http-log-file>
    <http-log-level>4</http-log-level>
</config>
